<div class="card" [appCourseCreationDateBorder]="courseItem.date" [ngClass]="{topRated: courseItem.isTopRated}">
  <div class="card-header">
    <div class="container">
      <div class="row">
        <div class="col-sm row">
          <h5 class="card-text">{{courseItem.name | uppercase}}</h5>
		  <div *ngIf="courseItem.isTopRated" class="col-sm fontAwesome">
			  &#xF005;
		  </div>
        </div>
        <div class="col-sm">
            <small>
				<img src="/assets/clock.svg" width="20" height="20" alt="clock">
				<span *ngIf="courseItem.length >= 60">
					{{(courseItem.length - courseItem.length % 60) / 60 }}{{ 'TIME.HOURS' | translate }} {{courseItem.length % 60}}{{ 'TIME.MINUTES' | translate }}
				</span>
				<span *ngIf="courseItem.length < 60">
					{{courseItem.length}}{{ 'TIME.MINUTES' | translate }}
				</span>
              &nbsp;
              <img src="/assets/calendar.svg" width="20" height="20" alt="calendar"> {{courseItem.date | localizedDate}}
            </small>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-9">
          <p>
            {{courseItem.description}}
          </p>
        </div>
        <div class="col-3">
          <div class="row">
            <button type="button" class="btn btn-info btn-sm" id="editButton" (click)="edit()"><img src="/assets/edit.svg" width="20" height="20" alt="edit"> {{ 'COURSE.ITEM.EDIT' | translate }}
            </button>
            &nbsp;
            <button type="button" class="btn btn-info btn-sm" id="deleteButton" (click)="showDialog()">
			<img src="/assets/delete.svg" width="20" height="20" alt="delete"> {{ 'COURSE.ITEM.DELETE' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal [isShown]="modalIsShown">
	<div id="modal" class="alert alert-warning" role="alert">{{ 'COURSE.ITEM.MODAL.ASK' | translate }}</div>
	<button id="deleteModalButton" type="button" class="btn btn-danger" (click)="delete.emit(courseItem)">{{ 'COURSE.ITEM.YES' | translate }}</button>
	&nbsp;
	<button id="cancelDeleteButton" type="button" class="btn btn-info" (click)="closeDialog()">{{ 'COURSE.ITEM.NO' | translate }}</button>
</app-modal>
