<div class="card" [appCourseCreationDateBorder]="courseItem.creationDate" [ngClass]="{topRated: courseItem.topRated}">
  <div class="card-header">
    <div class="container">
      <div class="row">
        <div class="col-sm row">
          <h5 class="card-text">{{courseItem.title | uppercase}}</h5>
		  <div *ngIf="courseItem.topRated" class="col-sm fontAwesome">
			  &#xF005;
		  </div>
        </div>
        <div class="col-sm">
            <small>
              <img src="/assets/clock.svg" width="20" height="20" alt="clock"> {{courseItem.duration | courseDuration}}
              &nbsp;
              <img src="/assets/calendar.svg" width="20" height="20" alt="calendar"> {{courseItem.creationDate | date: 'd MMM, y'}}
            </small>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-9">
          <p>
            {{courseItem.description}}
          </p>
        </div>
        <div class="col-3">
          <div class="row">
            <button type="button" class="btn btn-info btn-sm" id="editButton" (click)="edit()"><img src="/assets/edit.svg" width="20" height="20" alt="edit"> Edit
            </button>
            &nbsp;
            <button type="button" class="btn btn-info btn-sm" id="deleteButton" (click)="showDialog()">
			<img src="/assets/delete.svg" width="20" height="20" alt="delete"> Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal [isShown]="modalIsShown">
	<div id="modal" class="alert alert-warning" role="alert">Do you really want to delete this course?</div>
	<button id="deleteModalButton" type="button" class="btn btn-danger" (click)="delete.emit(courseItem)">Yes</button>
	&nbsp;
	<button id="cancelDeleteButton" type="button" class="btn btn-info" (click)="closeDialog()">No</button>
</app-modal>
