<ng-container [formGroup]="formGroup">
<label>
	<span class="float-left">{{ 'ACTION.COURSE.TITLE' | translate}}</span>
	<div
		*ngIf="!formGroup.controls.nameControl?.valid && (formGroup.controls.nameControl?.dirty
    || formGroup.controls.nameControl?.touched)">
		<div class="validation-error">
			{{ 'ACTION.COURSE.VALID.NAME' | translate}}
		</div>
	</div>
	<br>
	<input formControlName="nameControl"
		   type="text"
		   placeholder="title"
		   class="input-location"
		   [ngClass]="{'input-error': !formGroup.controls.nameControl?.valid && (formGroup.controls.nameControl?.dirty
	|| formGroup.controls.nameControl?.touched)}">
</label>
</ng-container>
