.fontAwesome {
  	font-family: 'SourceSansPro-Regular', FontAwesome, sans-serif;
}

.containerBackgroung {
  	background-color: ghostwhite;
}
.fontAwesome {
  font-family: 'SourceSansPro-Regular', FontAwesome, sans-serif;
}

.containerBackgroung {
  background-color: ghostwhite;
}

.noDataBorder {
	border-width: medium;
	border-color: #111111;
}
