<app-breadcrumbs></app-breadcrumbs>
<div class="container-fluid containerBackgroung">
	<br>
	<div class="container">
		<form ngForm>
		<div class="input-group mb-3 col-3">
			<div class="form-group">
			<input id="searchInput" [(ngModel)]="searchText" (keyup)="search()" type="text" class="form-control fontAwesome"
				   name="search" placeholder="&#xF002; text to search">
			</div>
		</div>
		</form>
		<div class="col text-right">
			<button routerLink="/courses/new" type="button" class="btn btn-info btn-md"><img src="/assets/plus.svg"
																							 width="20" height="20"
																							 alt="edit">
				Add course
			</button>
		</div>
		<ng-container *ngIf="(coursesList$ | async) as values">
			<br>
			<div *ngIf="values.length === 0; else loadMore" class="alert alert-light text-md-center" role="alert">
				No Data. Feel free to add new course
			</div>
			<ng-template #loadMore>
				<div *ngFor="let courseItem of values">
					<app-courses-item id="itemId" [courseItem]="courseItem"
									  (delete)="handleDelete($event)"></app-courses-item>
					<br>
				</div>
				<div class="card">
					<div class="card-body">
						<div class="col text-md-center">
							<button type="button" class="btn btn-link" id="loadMoreButton" (click)="fetchMore(values.length + 3)">
								Load more
							</button>
						</div>
					</div>
				</div>
			</ng-template>
			<br>
		</ng-container>
	</div>
	<br>
	<br>
</div>
