<app-breadcrumbs></app-breadcrumbs>
<div class="container-fluid containerBackgroung">
  <br>
  <div class="container">
    <div class="input-group mb-3 col-3">
      <input [(ngModel)]="searchText" type="text" class="form-control fontAwesome" placeholder="&#xF002; text to search">
      <br>
      <div class="input-group-append">
        &nbsp;
        <button class="btn btn-success" type="button" (click)="search()" id="searchButton">Search</button>
      </div>
    </div>
    <div class="col text-right">
      <button type="button" class="btn btn-info btn-md"><img src="/assets/plus.svg" width="20" height="20" alt="edit">
        Add course
      </button>
    </div>
    <br>
	  <div *ngIf="coursesList.length === 0" class="alert alert-light text-md-center" role="alert">
		  No Data. Feel free to add new course
	  </div>
    <div *ngFor="let courseItem of coursesList | orderByCreationDate">
      <app-courses-item id="itemId" [courseItem]="courseItem" (delete)="handleDelete($event)"></app-courses-item>
      <br>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="col text-md-center">
          <button type="button" class="btn btn-link" id="loadMoreButton" (click)="fetchMore()">
            Load more
          </button>
        </div>
      </div>
    </div>
    <br>
  </div>
  <br>
  <br>
</div>
