<div class="container-fluid containerBackgroung">
  <br>
  <div class="container">
    <div class="input-group mb-3 col-3">
      <input [(ngModel)]="searchText" type="text" class="form-control fontAwesome" placeholder="&#xF002; text to search"
             aria-describedby="basic-addon2">
      <br>
      <div class="input-group-append">
        &nbsp;
        <button class="btn btn-success" type="button" (click)="search()">Search</button>
      </div>
    </div>
    <div class="col text-right">
      <button type="button" class="btn btn-info btn-md"><img src="/assets/plus.svg" width="20" height="20" alt="edit">
        Add course
      </button>
    </div>
    <br>
    <a *ngFor="let courseItem of coursesList">
      <app-courses-item [courseItem]="courseItem" (delete)="handleDelete($event)"></app-courses-item>
      <br>
    </a>
    <div class="card">
      <div class="card-body">
        <div class="col text-md-center">
          <button type="button" class="btn btn-link" (click)="fetchMore()">
            Load more
          </button>
        </div>
      </div>
    </div>
    <br>
  </div>
  <br>
  <br>
</div>
