<ng-container [formGroup]="formGroup">
<label>
	<span class="float-left">{{ 'ACTION.COURSE.DURATION' | translate}}</span>
	<div class="validation-error"
		*ngIf="!formGroup.controls.durationControl?.valid && (formGroup.controls.durationControl?.dirty
    || formGroup.controls.durationControl?.touched)">
		{{ 'ACTION.COURSE.VALID.DURATION' | translate}}
	</div>
	<br>
	<input class="input-location" formControlName="durationControl" type="text"
		   [ngClass]="{'input-error': !formGroup.controls.durationControl?.valid && (formGroup.controls.durationControl?.dirty
    || formGroup.controls.durationControl?.touched)}">
	<span class="span-location" *ngIf="isVisible()">{{formGroup.controls.durationControl?.value | courseDuration}}</span>
</label>
</ng-container>
