<ng-container [formGroup]="formGroup">
<label>
	<span class="float-left">{{ 'ACTION.COURSE.DESCRIPTION' | translate}}</span>
	<div
		*ngIf="!formGroup.controls.descriptionControl?.valid && (formGroup.controls.descriptionControl?.dirty
    || formGroup.controls.descriptionControl?.touched)">
		<div class="validation-error">
			{{ 'ACTION.COURSE.VALID.DESCRIPTION' | translate}}
		</div>
	</div>
	<br>
	<textarea class="input-location" formControlName="descriptionControl" id="description" type="text" placeholder="description"
			  [ngClass]="{'input-error': !formGroup.controls.descriptionControl?.valid && (formGroup.controls.descriptionControl?.dirty
    || formGroup.controls.descriptionControl?.touched)}"></textarea>
</label>
</ng-container>
