<ng-container [formGroup]="formGroup" *ngIf="(allAuthors$ | async) as allAuthors">
<label>
	<span class="float-left">Authors:</span>
	<br>
	<div formArrayName="authors">
		<div *ngFor="let author of formGroup.controls['authors']['controls']; let i = index">
			<app-author-tag formControlName="{{i}}" [isNew]="false" (delete)="removeAuthor(i)" (dirtyOrTouched)="isDirtyOrTouched($event)"></app-author-tag>
		</div>
		<div class="validation-error"
			 *ngIf="!formGroup.controls.authors?.valid && isDirtyOrTouchedInputElement">
			{{formGroup.controls.authors?.errors?.authorsError}}
		</div>
		<app-author-tag [isNew]="true" (add)="addAuthorForm($event)" [allAuthors]="allAuthors" (dirtyOrTouched)="isDirtyOrTouched($event)">
		</app-author-tag>
	</div>
</label>
</ng-container>
