.course-container {
	text-align: center;
}
.course-content {
	background: #fff;
	box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
	border-radius: 2px;
	width: 700px;
	display: inline-block;
	margin-top: 30px;
	vertical-align: middle;
	position: relative;
	padding: 35px;
}
label, select {
	width: 100%;
	font-family: "Gill Sans", sans-serif;
}
input, select, p {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.float-left {
	float: left;
}

textarea[id=description] {
	width: 100%;
	padding: 10px 20px;
	border-radius: 4px;
}

input[type=submit] {
	width: 20%;
	background-color: #7f7f7f;
	color: white;
	padding: 10px 16px;
	margin: 6px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[id=save]:hover {
	background-color: lightgreen;
}
input[id=save]:disabled {
	background-color: #7f7f7f;
}
input[id=cancel]:hover {
	background-color: indianred;
}

.validation-error {
	color: red;
}

.input-error {
	border: red 1px solid;
}
