<ng-container *ngIf="(course$ | async) as data">

<app-breadcrumbs [title]="data.name"></app-breadcrumbs>
<div class="course-container">
	<div class="course-content">
		<form [formGroup]="courseForm" (ngSubmit)="onFormSubmit(data.id)">
			<app-name-input [formControl]="courseForm.controls['nameControl']" (getNameStatusChange)="setNameValid($event)"></app-name-input>
			<br>
			<app-description-input [formControl]="courseForm.controls['descriptionControl']" (getDescriptionStatusChange)="setDescriptionValid($event)"></app-description-input>
			<br>
			<app-date-input [formControl]="courseForm.controls['dateControl']" (getDateStatusChange)="setDateValid($event)"></app-date-input>
			<br>
			<app-duration-input [formControl]="courseForm.controls['durationControl']" (getDurationStatusChange)="setDurationValid($event)"></app-duration-input>
			<br>
			<app-authors-input [formControl]="courseForm.controls['authorsControl']" (getAuthorsStatusChange)="setAuthorsValid($event)"></app-authors-input>
			<div class="row">
				<input id="save" type="submit" value="{{ 'ACTION.COURSE.SAVE' | translate}}" [disabled]="!allValid()">
				&nbsp;
				<input id="cancel" type="submit" value="{{ 'ACTION.COURSE.CANCEL' | translate}}" (click)="cancel()">
			</div>
		</form>
	</div>
</div>
</ng-container>
