<div class="login-container">
	<div class="login-content">
		<h1 class="login-title">Login</h1>
		<span class="left">E-mail</span>
		<span class="right">*required</span>
		<input [(ngModel)]="userName" type="text" placeholder="Enter e-mail">
		<span class="left">Password</span>
		<span class="right">*required</span>
		<input [(ngModel)]="password" type="text" placeholder="Enter password">
		<div class="or-separator"></div>
		<a class="forget-pass-link">forget password?</a>
		<input id="login" type="submit" value="Submit" (click)="login()">
	</div>
</div>
