<div class="login-container">
	<div class="login-content">
		<form (ngSubmit)="login()" #loginForm="ngForm">
			<div *ngIf="errorMessage != null" class="alert alert-warning fontAwesome" role="alert">
				<span><i class="fa fas fa-shield-alt"></i> {{errorMessage | translate}}</span>
			</div>
			<div class="form-group">
				<h1 class="login-title">{{ 'LOGIN.TITLE' | translate }}</h1>
				<span class="float-left">{{ 'LOGIN.USERNAME.LABEL' | translate}}</span>
				<span class="right">{{ 'LOGIN.LABEL.REQUIRED' | translate}}</span>
				<input type="text" class="form-control" [(ngModel)]="userName" name="name"
					   #name="ngModel" required placeholder="{{ 'LOGIN.USERNAME.PLACEHOLDER' | translate }}">
				<div class="form-group">
					<div *ngIf="!name.valid && name.touched"
						 class="alert alert-danger">
						{{ 'LOGIN.USERNAME.ERROR.ALERT' | translate }}
					</div>
				</div>
				<span class="float-left">{{ 'LOGIN.PASSWORD.LABEL' | translate }}</span>
				<span class="right">{{ 'LOGIN.LABEL.REQUIRED' | translate }}</span>
				<input type="password" class="form-control" [(ngModel)]="password" #pass="ngModel" name="password" required
					   placeholder="{{ 'LOGIN.PASSWORD.PLACEHOLDER' | translate }}">
				<div *ngIf="!pass.valid && pass.touched" class="alert alert-danger">
					{{ 'LOGIN.PASSWORD.ERROR.ALERT' | translate }}
				</div>
			</div>
			<div class="or-separator"></div>
			<a class="forget-pass-link">{{ 'LOGIN.PASSWORD.FORGET' | translate }}</a>
			<input id="login" type="submit" value="{{ 'LOGIN.SUBMIT' | translate }}" [disabled]="!loginForm.form.valid">
		</form>
	</div>
</div>
