<ng-container [formGroup]="formGroup">
<label>
	<span class="float-left">{{ 'ACTION.COURSE.DATE' | translate}}</span>
	<div
		*ngIf="!formGroup.controls.dateControl?.valid && (formGroup.controls.dateControl?.dirty
    || formGroup.controls.dateControl?.touched)">
		<div class="validation-error">
			{{ 'ACTION.COURSE.VALID.DATE' | translate}}
		</div>
	</div>
	<br>
	<input type="text" formControlName="dateControl" class="input-location" placeholder="creation date"
		   [ngClass]="{'input-error': !formGroup.controls.dateControl?.valid && (formGroup.controls.dateControl?.dirty
    || formGroup.controls.dateControl?.touched)}">
</label>
</ng-container>
